body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar-brown {
    background-color: #6f4e37;
}


.carousel-image {
    height: 55vh; 
    object-fit: cover; 
    filter: brightness(0.6);
}

.recipe-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

textarea {
    resize: vertical;
}